IndentWidth: 8
UseTab: Always
DerivePointerAlignment: false
PointerAlignment: Right
SpaceAfterCStyleCast: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: true
